
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// SweetAlert
@import "node_modules/sweetalert/dist/sweetalert";


*:focus {
    outline:none !important;
}

#app {
    padding-top: 80px;
}


input#pipeline-name {
    background: transparent;
    border: 0;
    font-size: 2.6em;
    position: absolute;
    width: 800px;
    z-index: 2;
}


.selector {
    padding: 20px;

    &-item {
        padding: 10px;
        display: inline-block;
        text-align: center;
        width: 19%;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        &:hover {
            background: #efefef;
            cursor: pointer;
        }

        img {
            width: 100%;
        }

        &.selected {
            background: #ffdb92;
        }
    }
}
